<%- include('./partials/header.ejs')%>
    <%- include('./partials/navbar.ejs')%>
        <div class="container">
            <div class="row">
                <h1>Home page</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus id nesciunt quos commodi qui. Eaque,
                    consequuntur est? Rem, doloribus corporis aspernatur possimus veritatis libero labore ab maxime,
                    neque magnam praesentium.</p>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>